*{
    box-sizing: border-box;
    margin:0;
}
.nav {
    width:100%;
    background-color: rgb(75, 119, 201);
    margin:0;
}
.nav ul {
    list-style: none;
}
.nav div{
    display: inline-block;
    vertical-align: top;
    padding:2% 0 2% 0;
}
.nav .left-nav{
    width:30%;
    
}
.nav .left-nav p{
    margin:0;
}
.nav .right-nav{
    width: 69.6%;
    
}
.nav ul li{
    display: inline-block;
}
.nav .right-nav li{
    float: right;
    margin-right:5%;
}
.nav .right-nav li a{
    text-decoration: none;
    background-color:rgb(232, 232, 232);
    padding:20% 25%;
    border-radius: 5px;
    color:black;
    font-family: Arial, Helvetica, sans-serif
}
.nav .right-nav li a:hover{
    background-color:white;
    cursor: pointer;
}
.nav .right-nav li a:visited{
    color:black;
}
.tudu a{
    font-family: fantasy;
    font-size: 1.5rem;
    color:white;
    font-weight: bold;
    text-decoration: none;
}
.tudu a:visited{
    color:white;
}
